/*ALL PAGES CSS*/

html, body {
  height: 100%;
  margin: 0;
  font-family: Verdana, sans-serif;
}

/*TOP NAV */
.topnav {
  /*background-color: white;*/
  position: sticky;
  padding-left: 30px;
  overflow: hidden;
  box-shadow: 0px 5px 5px #bababa;
}

.topnav a {
  transition: background .25s;
}
/* Style the links inside the navigation bar */
.topnav a.button, .topnav a.icon {
  float: left;
  color: black;
  text-align: center;
  padding: 23px 40px;
  text-decoration: none;
  font-size: 20px;
}
/* Style for the image button*/
.topnav a.imagebutton {
  float: left;
  text-align: center;
  padding: 16px 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #cccccc;

}

.topnav .icon {
  display: none;
}


/* CSS If statement for topnav mobile*/
@media only screen and (max-width: 760px) {
  /* For mobile phones: */

  .topnav {
    padding: 0;
  }
  .topnav a.imagebutton{
    padding: 10px 0px 10px 2.5%;
    width: 77.5%;
    text-align: left;
  }
  /* For the menu thing brahh*/
  .topnav a.button {
    display:none;
    /* add in more changes to the button they way too big */
    padding: 10px 0;
    font-size: 16px;
  }
  
  .topnav a.icon {
    width: 20%;
    float: right;
    display: block;
    padding: 17px 0;
  }
  
  .topnavresponsive {position: relative;}
  .topnavresponsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*INDEX HTML CSS*/

article {
  padding: 0 10%;
}


/*ABOUT HTML CSS*/

#about {
  text-align: center;
  font-size: 3.5vw;
  padding: 30px 0;
}

.name {
  text-align: center;
  font-size: 3vw;
}

.team {
  padding: 0 10%;
}

.col{
  float: left;
  width: 28.333%;
  margin-bottom:16px;
  padding: 0 2.5%;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* CSS If statement for Column mobile */
@media only screen and (max-width: 760px) {
  .col {
    width: 90%;
    display: block;
    padding: 0 5%;
  }

  #about {
    font-size: 24px;
  }
  .name {
    font-size: 16px;
  }
}
